<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.light_blue-blue.min.css"/> 
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>

  <style> 

  </style>

  <body>
    <div class="transparente mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-color-text--white">
        <div class="mdl-layout__header-row">
          
          <span class="mdl-layout-title">Blog!</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a href="#" class="mdl-navigation__link mdl-color-text--white">Home</a>
            <a href="#" class="mdl-navigation__link mdl-color-text--white">Login</a>
            <a href="#" class="mdl-navigation__link mdl-color-text--white">Sign Up</a>
        </nav>
        </div>
        
      </header>
      <main class="mdl-layout__content">

	      <center>
	          <form action="#">
	            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	              <input class="mdl-textfield__input" type="text" id="sample3">
	              <label class="mdl-textfield__label" for="sample3">Username</label>
	            </div>
	          </form>
	          
	          <form action="#">
	            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	              <input class="mdl-textfield__input" type="Password" id="sample3">
	              <label class="mdl-textfield__label" for="sample3"> Password</label>
	            </div>
	          </form>

	          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	            Login
	          </button>
	        </center>
	      	
      </main>
    </div>     
  </body>
</html>