<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.light_green-green.min.css" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>

  <style> 

    .demonstracao-card {
      height: 300px;
    }

    .mdl-layout {
      align-items: center;
      justify-content: center;
    }

    .fundo{
      background: url(http://pre06.deviantart.net/3825/th/pre/f/2013/054/1/c/wallpaper_street__by_xgomiitaj-d5vy75h.jpg) center / cover;
    }

  </style>

  <body>
    <div class="fundo transparente mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-color-text--white mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          
          <span class="mdl-layout-title">Blog!</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a href="/" class="mdl-navigation__link mdl-color-text--white">Home</a>
            <a href="login" class="mdl-navigation__link mdl-color-text--white">Login</a>
            <a href="signup" class="mdl-navigation__link mdl-color-text--white">Sign Up</a>
        </nav>
        </div>
        
      </header>
      <main class="mdl-layout">

	      <center>
			    <div class="mdl-card mdl-shadow--6dp demonstracao-card">
	          <div class="mdl-card__title">
	            <h2 class="mdl-card__title-text">Login</h2>
	          </div>
	          <div class="mdl-card__actions mdl-card--border">
	              
	            <form action="#">
	              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	                <input class="mdl-textfield__input" type="text" id="username" name="username">
	                <label class="mdl-textfield__label" for="username">Username</label>
	              </div>
	            </form>
	              
	            <form action="#">
	              <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
	                <input class="mdl-textfield__input" type="Password" id="password" name="password">
	                <label class="mdl-textfield__label" for="password">Password</label>
	              </div>
	            </form>
	              
	            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
	              Login
	            </button>

              <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                Sign Up
              </button>             
	          </div>
	        </div>	
	      </center>
      </main>
    </div>     
  </body>
</html>