<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.light_green-green.min.css"/>
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>

  <style> 
  	.fundo{
      background: url(http://pre06.deviantart.net/3825/th/pre/f/2013/054/1/c/wallpaper_street__by_xgomiitaj-d5vy75h.jpg) center / cover;
    }

    .demonstracao-card {
      width: 1000px;
    }

    .mdl-card__title {
      background-color: gray;
      color: white;
    }

  </style>

  <body>
    <div class="fundo mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-color-text--white mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
          <span class="mdl-layout-title">Blog!</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a href="/" class="mdl-navigation__link mdl-color-text--white">Home</a>
            <a href="login" class="mdl-navigation__link mdl-color-text--white">Login</a>
            <a href="signup" class="mdl-navigation__link mdl-color-text--white">Sign Up</a>
          </nav>
        </div>        
  
      </header>
 
      <main class="mdl-layout">
        <center>
          
          {% if logado == True %}
          Usuário está logado!
          {% else %}
          Usuário não está logado!
          {% endif %}
        {% for post in posts %}
        <div class="mdl-card demonstracao-card mdl-shadow--16dp">
          <div class="mdl-card__title">
            {{post.title}}
          </div>
          <div class="mdl-card__actions mdl-card--border" align="left">
            {{post.text}}
          <div align="right">~{{post.username}}</div>
          </div>
        </div>
        <br>
        {% endfor %}
          
        </center>
      </main>
    </div>     
  </body>
</html>