<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.light_blue-blue.min.css"/> 
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
  </head>

  <style> 
  </style>

  <body>
    <div class="transparente mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header mdl-color-text--white">
        <div class="mdl-layout__header-row">
          
          <span class="mdl-layout-title">Blog!</span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a href="#" class="mdl-navigation__link mdl-color-text--white">Home</a>
            <a href="#" class="mdl-navigation__link mdl-color-text--white">Login</a>
            <a href="#" class="mdl-navigation__link mdl-color-text--white">Sign Up</a>
        </nav>
        </div>
        
      </header>
      <main class="mdl-layout__content">
		

      </main>
    </div>     
  </body>
</html>